# Database
# Supported engines: sqlite, mysql, mariadb, postgresql, mssql
DB_ENGINE=mssql
DB_NAME=control_escolar
DB_USER=sa
DB_PASSWORD=123456789
DB_HOST=localhost\SQLEXPRESS
DB_PORT=
USE_SQLITE=False
DB_CHARSET=utf8mb4
DB_SQL_MODE=STRICT_TRANS_TABLES
DB_CONNECT_TIMEOUT=10
DB_CONN_MAX_AGE=60
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_EXTRA_PARAMS=Encrypt=yes;TrustServerCertificate=yes
DB_TRUSTED_CONNECTION=no
DB_CONNECTION_RETRIES=3
DB_CONNECTION_RETRY_BACKOFF=5
DB_QUERY_TIMEOUT=0

# Django
SECRET_KEY=django-insecure-change-this
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GOOGLE_CLIENT_ID=300778537372-v3oqi99qcr8m57qihf841gv2bo47vk01.apps.googleusercontent.com
